[submodule "astute.arena"]
	path = astute.arena
	url = git@github.com:svits-llc/astute.arena.git
[submodule "astute-compression"]
	path = astute-compression
	url = git@github.com:svits-llc/astute-compression.git
